body {
    background-color: rgb(244, 244, 244);
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    height: 100%;
    width: 100%;
}

#loadingDataHeaderContent,
#loadedDataHeaderContent,
#loadingDataContent,
#loadedDataContent,
#noAvailableDates,
#availableDatesListContent,
#instrumentsListContent,
#expirationListContent,
#spreadTypeListContent,
#spreadListContent,
#spreadDetailsListContent {
    display: none;
}

#header {
    background-color: rgb(34, 205, 153);
    border-bottom: 3px solid rgb(53, 53, 53);
    height: 270px;
    width: 100%;
}

#loadingDataHeaderContent > div,
#headerTitle {
    color: rgb(53, 53, 53);
    font-size: 60px;
    font-weight: bold;
    line-height: 140px;
    text-align: center;
    width: 100%;
}

#loadingDataHeaderContent > div {
    height: 270px;
    line-height: 270px;
}

#headerTitle {
    height: 150px;
    padding-top: 10px;
}

#headerContent {
    display: table;
    height: 110px;
    table-layout: fixed;
    width: 100%;
}

#headerContentRow {
    display: table-row;
}

#headerContentRow > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#headerContentRow .rowTitle {
    color: rgb(233, 233, 233);
    font-weight: bold;
}

#headerContentRow .rowSubTitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
}

#logo,
#reload {
    text-align: center;
}

#logo,
#reload {
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

#logo:hover,
#reload:hover {
    background-color: rgb(35, 224, 167);
}

#logo > img {
    height: 100px;
}

#reload > img {
    height: 70px;
}

#loadingDataContent,
#noAvailableDates {
    font-size: 40px;
    line-height: 300px;
    height: 300px;
    text-align: center;
}

ul#availableDatesList,
ul#instrumentsList,
ul#expirationList,
ul#spreadTypeList,
ul#spreadList,
ul#spreadDetailsList {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#availableDatesList li,
ul#instrumentsList li,
ul#expirationList li,
ul#spreadTypeList li,
ul#spreadList li,
ul#spreadDetailsList li {
    background-color: rgb(233, 233, 233);
    border-bottom: 1px solid #ccc;
    color: rgb(53, 53, 53);
    cursor: pointer;
    line-height: 60px;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

ul#availableDatesList li:hover,
ul#instrumentsList li:hover,
ul#expirationList li:hover,
ul#spreadTypeList li:hover,
ul#spreadList li:hover,
ul#spreadDetailsList li:hover {
    background-color: rgb(250, 250, 250);
}

ul#spreadDetailsList li pre {
    line-height: 22px;
    margin: 0;
    padding: 22px;
}

.fullRow {
    font-size: 24px;
    text-align: center;
}

.itm {
    background-color: rgba(34, 205, 153, .4);
}

.otm {
    background-color: rgba(255, 78, 45, .2);
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

.disable-user-select,
.disable-user-select:focus {
    cursor: default;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disable-user-select::-moz-selection,
.disable-user-select::selection {
    background: transparent;
}
